bin/
logs/
obj/
/.vs/ApiSitemaClinico/DesignTimeBuild/.dtbcache.v2
/.vs/ApiSitemaClinico/CopilotIndices/17.14.1231.31060
/.vs/ApiSitemaClinico/FileContentIndex
/.vs/ProjectEvaluation
/.vs/ApiSitemaClinico
